html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #2563eb;
  color: white;
}